<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>Michael Rochester</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>MorkleRork</string>
	<key>uuid</key>
	<string>E110325F-7CF1-4A12-AA31-82E1184D524D</string>
</dict>
</plist>
